<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<!-- CONTENT -->
<ion-content
[scrollEvents]="true">
  <!-- ROW -->
<ion-row class="ion-padding">
  <ion-col>
    <ion-button (click)="newsModal(null)">Create News/Events</ion-button>
      <ion-list>
        <ion-item>
          <ion-label>Title</ion-label>
          <ion-label slot="end">Event Type</ion-label>
        </ion-item>
        <ng-container *ngFor="let news of newsItems">
        <ion-item>
          <ion-icon slot="start" name="book-outline"></ion-icon>
          <ion-label class="ion-text-wrap">
            <h2>{{news.title}}</h2>
          </ion-label>
        </ion-item>
      </ng-container>
      </ion-list>
  </ion-col>
</ion-row>
</ion-content>
