<ion-header>
    <ion-toolbar></ion-toolbar>
  </ion-header>
  <!-- CONTENT -->
  <ion-content
  [scrollEvents]="true">
    <!-- ROW -->
  <ion-row class="ion-padding">
    <ion-col>
        <ion-card>
            <ion-card-header color="primary">
              <ion-card-subtitle>Total Events Posted</ion-card-subtitle>
              <ion-card-title><h1>100</h1></ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-label>Lorem Ipsum dolor set</ion-label>
                        <ion-button color="success" slot="end">Event</ion-button>
                    </ion-item>
                    <ion-item>
                        <ion-label>Lorem Ipsum dolor set</ion-label>
                        <ion-button color="success" slot="end">Event</ion-button>
                    </ion-item>
                    <ion-item>
                        <ion-label>Lorem Ipsum dolor set</ion-label>
                        <ion-button color="primary" slot="end">News</ion-button>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header color="success">
              <ion-card-subtitle>Total Registered User</ion-card-subtitle>
              <ion-card-title><h1>999</h1></ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-icon name="library-outline" slot="start"></ion-icon>
                        <ion-label>Teacher(s)</ion-label>
                        <ion-button color="light" slot="end">99</ion-button>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="people-outline" slot="start"></ion-icon>
                        <ion-label>Student(s)</ion-label>
                        <ion-button color="light" slot="end">99</ion-button>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="people-circle" slot="start"></ion-icon>
                        <ion-label>Parent(s)</ion-label>
                        <ion-button color="light" slot="end">99</ion-button>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </ion-col>
  </ion-row>
  </ion-content>
  