<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="bg-success ion-padding-vertical">
    <ion-col size="12" class="ion-justify-content-center ion-text-center">
        <img class="img-icon" src="../assets/img/portrait_m.png">
    </ion-col>
    <ion-col size="12" class="ion-padding-horizontal">
      <ion-text color="light">
        <h1>John Wick</h1>
        <span>Student</span>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-list>
    
    <ion-item>
      <ion-label slot="start">Student Number</ion-label>
      <ion-label>349-34031-233</ion-label>
    </ion-item>

    <ion-item>
      <ion-label slot="start">Email</ion-label>
      <ion-label>test@email.com</ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label slot="start">Mobile Number</ion-label>
      <ion-label>63923412455</ion-label>
    </ion-item>
    <ion-row>
      <ion-col class="ion-justify-content-center ion-text-center">
        <ion-button color="success" (click)="editProfile(info)">
          Edit Profile
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
